.speech{
    font-size: 12; 
    font-family: Verdana, Times, serif; 
    color: rgba(14, 14, 14, 0.925);
    }

.direction{
    background-color: rgb(235, 247, 247);
    font-size: 20; 
    font-family: "Times New Roman", Times, serif; 
    color: black;
}

.direction:hover{
    background-color: rgb(35, 30, 183);
 }

 .NORA{
    font-size: 40;
    color: rgb(101, 38, 6);
    font-style: italic;
    }
    
.NURSE{
      font-size: 40; 
      color: rgb(137, 8, 107);
      font-style: oblique;
    }

    :root {
        --table-border: 1px solid black;
        --table-padding: 18px;
        --table-bg-even: rgba(227, 222, 222, 0.801);
        --table-bg-header: #c71515ce;
        --table-color-header: rgba(17, 56, 96, 0.833);
      }

      :root {
        --table-border: 2px solid black;
        --table-padding: 18px;
        --table-bg-even: rgba(227, 222, 222, 0.783);
        --table-bg-header: #168de2ba;
        --table-color-header: rgba(179, 19, 38, 0.774);
      }
      
      table, th, td {
        border: var(--table-border);
        text-align: center !important;
      }
      
      table {
        width: 50%;
        margin: 20px;
      }
      
      th, td {
        padding: var(--table-padding);
      }
      
      tr:nth-child(even) {
        background-color: var(--table-bg-even);
      }
      
      th {
        background-color: var(--table-bg-header);
        color: var(--table-color-header);
      }
      .NORA:hover{
        
        color: darkred;
        text-shadow:3px 2px 3px blue;
        background-color:rgb(187, 197, 201);
        filter: blur(1px);
       
      }
      
      .HELMER:hover{
        color: darkred;
        text-shadow:3px 2px 3px blue;
        background-color:darkkhaki;
        filter: blur(1px);
      }
      .navbar-horizontal{
        padding: 15px;
        float:left;
        background-color:black;
        color:black;
        display:block;
        
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px 18px;
        text-decoration: none;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #7429d6f3;
      }
      
      li {
        float: left;
      }
      
      .img{
        width: 150px;
        height: 200px;
        margin-top: 30px;
      margin-bottom: 11px;
        margin-right: 100px;
       margin-left: 80px;
      }